[Unit]
Description=m6-http cache node
After=network.target

[Service]
Type=simple
User=m6
# NODE_CONFIG is set in /etc/m6/node-config — e.g. /etc/m6/cache-sf.toml
EnvironmentFile=-/etc/m6/node-config
ExecStart=/usr/local/bin/m6-http \
    /var/www/my-blog \
    ${NODE_CONFIG}
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
